<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887511145731-qg5v5rg9sbo5ltfp7qke3r4oeakkoi54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887511145731-qg5v5rg9sbo5ltfp7qke3r4oeakkoi54</string>
	<key>API_KEY</key>
	<string>AIzaSyAcUD-vbaNZVrOJfLxv-hiZSdkmndt2k34</string>
	<key>GCM_SENDER_ID</key>
	<string>887511145731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogPostApp</string>
	<key>PROJECT_ID</key>
	<string>blogpost-app-ac42a</string>
	<key>STORAGE_BUCKET</key>
	<string>blogpost-app-ac42a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887511145731:ios:fb983d7a47a3afba211d36</string>
</dict>
</plist>